.user_block {
    margin: 5px 0 30px 15px;
}

.user_avatar {
    width: 50px;
    height: 50px;
}

.user_subscribe_btn {
    width: 100px;
    height: 28px;
}

.paggination {
    display: flex;
    list-style: none;
    transition: 0.4s;
}

.paggination > li {
    margin: 0 3px;
}

.selectedPage {
    font-size: 1.3rem;
    margin: 0 4px;
}