.user_block {
    margin: 5px 0 30px 15px;
}

.user_avatar {
    width: 50px;
    height: 50px;
}

.user_subscribe_btn {
    width: 100px;
    height: 28px;
}

.pagination {
    display: flex;
    list-style: none;
    transition: 0.4s;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.pagination > li {
    margin: 0 3px;
    cursor: pointer;
}

.selectedPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.3rem;
    height: 1.3rem;
    color: #ffffff;
    border-radius: 50%;
    background-color: #7e7e7e;
    margin: 0 4px;
}

.setPageInput {
    margin: 0 auto;
    width: 30%;
    height: 40px;
}