.navigation {
  grid-area: n;
  background-color: rgb(206, 142, 156);
}

.item {
  padding: 10px;
}

.item a {
  color: rgb(23, 3, 112);
  text-decoration: none;
}

.item a.active {
  color: #ffffff;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5,
    -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}
