body {
    margin: 0;
    padding: 0;
    background-color: #6A6A68;
}

.app-wrapper {
    display: grid;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;

    grid-template-areas:
    'header header'
    'n m';

    grid-template-rows: 100px 10fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper__main {
    grid-area: m;
    background-color: #FFFFFF;
}
