.dialogs {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.dialogs__items {
}

.dialogs__item {
  padding: 6px;
}

.active {
  color: red;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

.messages__add {
  display: flex;
  flex-direction: column;
}

/*.messages__add_btn {*/
/*  background: rgb(206, 142, 156) !important;*/
/*}*/

.messages__items {
}

.messages__item {
}
